@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-wrap($value: wrap){
  -webkit-box-lines: multiple;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
// 매개변수에 기본값 설정하기 $변수명: 기본값
@mixin justify-content($value: center) {
  -webkit-justify-content: $value;
  justify-content: $value;
}
@mixin align-items($value: center) {
  -webkit-align-items: $value;
  align-items: $value;
}
@mixin transform($value...) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -o-transform: $value;
  -ms-transform: $value;
  transform: $value;
}
@mixin translateX-50 {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@mixin translateY-50 {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin translate-50 {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@mixin transition($value...) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}
@mixin transition-delay($value) {
  -webkit-transition-delay: $value;
  -moz-transition-delay: $value;
  -o-transition-delay: $value;
  transition-delay: $value;
}
// 문자보간 #{변수} => 스크립트 ${변수}
@mixin keyframes($aniName) {
  @-webkit-keyframes #{$aniName} {@content;}
  @-moz-keyframes #{$aniName} {@content;}
  @keyframes #{$aniName} {@content;}
}
@mixin animation($value...) {
  -webkit-animation: $value;
  -moz-animation: $value;
  animation: $value;
}
@mixin animation-delay($value) {
  -webkit-animation-delay: $value;
  -moz-animation-delay: $value;
  animation-delay: $value;
}
@mixin line-clamp($lineNum, $maxHeight) {
  display: -webkit-box;
  -webkit-line-clamp: $lineNum;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-overflow:ellipsis;
  max-height: $maxHeight;
  overflow: hidden;
}