@charset "utf-8";
@import "_var", "_mixin";

// main
h2{
  font-family: NEXON;
  font-weight: 700;
  font-size: 12vw;
}
h3{
  font-family: RobotoC;
  font-weight: 700;
  font-size: 40px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 20px;
  padding: 16px 14px;
  margin-bottom: 36px;
  letter-spacing: -2px;
  line-height: 30px;
}
.swiper-button-prev,
.swiper-button-next{
  width: 90px;
  height: 90px;
}
.swiper-button-prev{
  left: 60px;
}
.swiper-button-next{
  right: 60px;
}
.swiper-button-prev:after,
.swiper-button-next:after{
  content: '';
  background: url("../img/icon_arrow.png") no-repeat top left / cover;
  width: 35px;
  height: 57px;
}
.swiper-button-next:after{
  transform: rotate(180deg);
}
.brightness{filter: brightness(100);}
.section1{
  .swiper-container{
    width: 100%;
    height: 100vh;
    .swiper-slide{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
  }

}
.road.on{
  .dashed{
    stroke-dasharray: 4;
    stroke: #F9F9F9;
  }
  .path {
    stroke-dasharray: 2702.5;
    stroke-dashoffset: 2702.5;
    stroke: #000;
  }
  .path{
    animation: dash 7s forwards;
    @keyframes dash {
      from {
        stroke-dashoffset: 2702.5;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }
}

.section2{
  overflow: hidden;
  max-height: 100%;
  .movetxt{
    margin: 200px 0 92px 0;
    .to_left{
      position: relative;
      left: 0;
      color: #000;
    }
    .to_right{
      position: relative;
      right: 0;
      text-align: right;
    }
  }
  .road1{
    position: relative;
    margin-bottom: 36px;
    padding: 0 160px 0 102px;
  }
  .infinite{
    position: absolute;
    top: 30%;
    @include flex;
    margin-left: 48px;
    max-width: 100%;
    .infin_logo{
      background: url(../img/infinite_logo.png) repeat 0 0 / contain;
      height: 62px;
      width: 100vw;
      @include animation(infin 15s linear infinite);
      @include keyframes (infin) {
        100%{
          background-position: -100vw 0;
        }
      }
    }
  }

}

.section3, .section4, .section5{
  padding: 0 56px;
}

.section3{
  .hire_cnt{
    font-family: NEXON;
    font-weight: 700;
    width: 100%;
    background-color: #E1DFDF;
    padding: 9% 0;
    .txt_wrap{
      border: 5px solid #171111;
      background-color: #FFFFFF;
      border-radius: 100px;
      width: 1010px;
      margin: 0 auto;
      height: 400px;
      text-align: center;
      padding: 127px 0 30px 0;
      strong{
        font-family: RobotoC;
        font-weight: 700;
        font-size: 100px;
        height: 110px;
      }
      .typed::after {
        position: relative;
        top: -4px;
        content: '|';
        display: inline-block;
        animation: blink 0.7s infinite;
        @keyframes blink {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
      .typed-cursor {
        opacity: 0;
        display: none;
      }
    }

    .txt_right{
      position: relative;
      right: 60px;
      text-align: right;
      font-size: 20px;
      padding-top: 42px;
      line-height: 30px;
      overflow: hidden;
      height: 130px;
      p{
        text-align: right;
        margin-bottom: 30px;
      }
    }

    h4{
      text-align: center;
      padding-top: 62px;
      font-size: 40px;
    }
  }
}

.section4{
  position: relative;
  .road2{
    padding: 20px 91.5px 36px 59px;
  }
  .movetxt{
    white-space: nowrap;
    position: absolute;
    top: 45px;
    right: 0;
    .parallax_txt{
      transition: 0.22s;
    }

    h2{
      font-size: 100px;
      margin: 11.875vw 0 10.05vw 0;
      text-align: right;
      cursor: pointer;
      &:hover p, &:focus p,&:hover span:last-child, &:focus span:last-child{
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000;
      }
      span:first-child{
        display: inline-block;
        font-size: 40px;
        margin-right: 20px;
      }
    }
  }
}

.section5{
  padding-bottom: 300px;
  .swiper-button-prev{
    left: 0;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-slide{
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  .swiper-slide::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
  }
  .swiper-slide:hover::before,
  .swiper-slide:focus::before{
    opacity: 0.6;
  }
  .swiper-slide img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
  }
  .swiper-slide:hover img,
  .swiper-slide:focus img{
    transform: scale(1.1);
  }
  .append_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
  }
  .swiper-slide:hover .append_txt,
  .swiper-slide:focus .append_txt{
    opacity: 1;
  }

  .port_mo > div:first-of-type{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 1fr 1fr 1fr */
    column-gap: 20px;
    row-gap: 20px;
  }

}

.section6 {
  overflow: hidden;

  .top_line, .bottom_line {
    height: 150px;
    background: linear-gradient(to bottom left, #f9f9f9 49%, #171111 50%);
  }

  .bottom_line {
    transform: rotate(180deg);
    margin-bottom: 200px;
  }

  .movetxt {
    background-color: #171111;
    padding-top: 80px;

    & h2.on {
      font-size: 100px;
      transition: 1s;
    }

    & h2.on p {
      left: 5vw !important;
    }

    h2 .to_left {
      white-space: nowrap;
      position: relative;
      left: 0;
      color: #fff;
    }

    h2 p::after {
      content: "";
      display: block;
      border: 1px dashed #fff;
      margin-top: 20px;
    }
  }

  .client_wrap {
    //padding-top: 40px;  /*102px*/
    background-color: #171111;
  }

  .client_list {
    //background: url(../img/bg_paper.jpg) no-repeat center / cover;
    width: 100%;
    height: 100%;
    padding: 124px 56px 268px 56px;
    //margin-bottom: 200px;
  }

  ul {
    max-width: 1808px;
    margin: 0 auto;
    font-size: 0;
    padding-bottom: 136px;
    display: flex;
    align-items: center;
    flex-direction: revert;
    flex-wrap: wrap;
    justify-content: left;

    li {
      display: inline-block;
      //margin: 0 3% 0 3%;
      //margin-top: 56px;
      width: 25%;
      padding: 1.5vw 1vw;
    }

    li img {
      //max-height: 213px;
      max-width: 100%;
      opacity: 75%;
    }
    li:nth-of-type(4n) {
      margin-right: 0;
    }

    .more {
      visibility: hidden;
      max-height: 0;
      overflow: hidden;
    }

    .more.on {
      visibility: visible;
      max-height: 300px;
    }
  }

  .btn_more {
    width: 100%;

    p {
      color: #fff;
      font-family: spoqa;
      font-size: 20px;
      border: 1.8px dashed #fff;
      border-radius: 20px;
      padding: 22.5px 57px;
      width: 169px;
      margin: 0 auto;
    }
  }

  .loading {
    display: none;
    position: absolute;
    z-index: 1001;
    @include translate-50;
    top: 50%;
    left: 50%;
    background: url("../img/loading.gif") no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
  }

  input.g-recaptcha {
    margin: 20px auto;
  }
}

.section7 {
  h2{
    text-align: center;
    font-size: 80px;
    //&:after{
    //  content: "";
    //  display: block;
    //  border: 1px dashed #000;
    //  width: 82%;
    //  padding-left: 10%;
    //  margin: 30px 0;
    //  float: right;
    //}
  }

  .contact_wrap{
    //height: 500px;
    margin-bottom: 200px;
  }
  h4{
    text-align: center;
    font-size: 19px;
    margin: 40px 0 40px;
    color: #888;
  }
  #map{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    border-bottom: 3px solid #000;
  }
}

#inquiry {
  background: #FFFFFF;
  padding: 117px 100px 117px 100px;
  font-family: spoqa;
  height: auto;
  overflow: hidden;
  cursor: pointer;

  h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
  }

  h2 + p {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 38px;
    color: #6b6b6b;
  }

  .inquiry_table {
    width: 600px;
    height: 300px;
    color: #171111;
    font-weight: 400;
    border: 1px solid #000;
    font-size: 20px;

    input {
      width: 100%;
    }

    textarea {
      border: none;
      resize: none;
      outline: none;
      width: 100%;
      height: 90%;
      font-size: 20px;
    }

    th {
      font-weight: 700;
    }

    th, td {
      border: 1px solid #000;
    }

    td {
      padding: 15px 20px;
    }
  }

  .send {
    display: block;
    color: #FFFFFF !important;
    background: #000;
    text-align: center;
    border-radius: 15px;
    width: 168px;
    height: 50px;
    margin: 20px auto;
  }

  .thankyou_message {
    @include translate-50;
    position: fixed;
    z-index: 1005;
    top: 50%;
    left: 50%;

    p {
      background: #000;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      color: #fff;
      padding: 40px 20px 30px;
    }

  }
}

.portfolio_wrap {
  display: flex;
}

.responsible img:first-child {
  width: 43.5vw;
  height: 100%;
  margin-right: 66px;
}

.pc img {
  width: 43.5vw;
  height: 100%;
}

.responsible img:nth-child(2) {
  width: 23.2vw;
  height: 100%;
  margin-right: 66px;
}

.responsible img:nth-child(3) {
  width: 8.5vw;
  height: 100%;
}

// 반응형
@media screen and (max-width: 1440px) {
  h2{
    font-size: 10vw;
  }
  h3{
    font-size: 2.7778vw;
    border-width: 1px;
    border-radius: 20px;
    padding: 1.111vw 0.9722vw;
    line-height: 2.0833vw;
  }
  .section2{
    .movetxt{margin-bottom: 60px;}
    .road1{
      padding: 0 60px 0 70px;
    }
    .infinite{
      top: 35%;
      margin-left: 3.3333vw;
      .infin_logo{
        height: 4.3056vw;
      }
    }
  }
  .section3{
    .hire_cnt{
      height: auto;
      padding-bottom: 9%;
      .txt_wrap{
        width: 70.1389vw;
        height: 400px;
        strong{
          font-size: 6.9444vw;
        }
      }

      /*.txt_right{
        font-size: 1.3889vw;
        line-height: 2.0833vw;
      }*/
      h4{
        font-size: 2.7778vw;
      }
    }
  }
  .section4{
    h2{
      span:first-child{
        font-size: 2vw;
      }
    }
    .parallax_txt p{
      margin-bottom: 20px;
    }
  }
  .section5{
    padding-bottom: 200px;
    .sticky_wrap{
      height: 8500px;
    }
    .hor_long{
      height: 9000px;
    }
    .sticky{
      height: 70vh;
    }
    img{
      width: 470px;
      height: 470px;
    }
  }
  .section6{
    .top_line,.bottom_line{height: 100px;}
    .btn_more{
      p{
        font-size: 20px;
        padding: 1.5625vw;
        width: 130px;
      }
    }

  }


}




// 가영: section1, 3, 5 반응형
@media all and (max-width:1024px){
  .section1{
    .swiper-container{
      height: 70vh !important;
      .swiper-button-prev{left: 0;}
      .swiper-button-next{right: 0;}
      .swiper-button-prev, .swiper-button-next{ top: 40%;}
    }
  }

  .section4{
    .movetxt{
      right: 10px;
    }
  }

  .section6{
    .movetxt{
      & h2.on {
        font-size: 9vw;
      }
    }
    .client_list{
      padding: 74px 45px 82px 45px;
    }
    ul{
      padding-bottom: 93px;
    }

  }

  .section7{
    //transition: 3s;
    h2{
      font-size: 43px;
    }
    #map{
      width: 80%;
      height: 500px;
    }
  }

}

// 반응형
@media all and (max-width:768px){
  h3{
    font-size: 30px;
    padding: 15px 10px;
  }
  .section1{
    .swiper-container{
      height: 50vh !important;
      .swiper-button-prev:after, .swiper-button-next:after{ width: 29px; height: 47px;}
    }
  }
  .section2{
    .movetxt{margin: 80px 0;}
    .road1{
      svg{ display: none;}
    }
    .infinite{
      position: initial;
      .infin_logo{
        height: 50px;
        background-size: cover;
      }
    }
  }
  .section3{
    padding: 0 30px;
    .hire_cnt{
      padding: 50px 0 30px;
      .txt_wrap{
        border-radius: 50px;
        width: calc(100% - 60px);
        padding: 90px 0 30px;
        strong{font-size: 50px}
      }
      .txt_right{
        padding-top: 60px;
        font-size: 20px;
        line-height: 30px;
        right: 0;
        margin-right: 20px;
        height: 146px;
      }
      h4{font-size: 20px}
    }
  }
  .section4{
    .movetxt{
      position: initial;
      margin: 80px 0;
      h2{ margin: 0;}
    }
    .parallax_txt p{
      margin-bottom: 14px;
    }
    .road2{
      padding: 0;
      svg{ display: none; }
    }
  }
  .section5{
    padding-top: 50px;
    .swiper-button-prev, .swiper-button-next{width: auto; height: auto;}
    .swiper-button-prev:after, .swiper-button-next:after{ width: 29px; height: 47px;}
    .append_txt{font-size: 35px;}
  }
  .section6{
    .movetxt{
      padding-top: 45px;
      h2.on{
        font-size: 40px;
      }
    }
    .client_list{
      padding: 80px 20px 40px 20px;
    }
    ul{
      padding-bottom:60px;
    }
    ul li{
      width: 33.33%;
    }
    .top_line,.bottom_line{height: 60px;}
    .bottom_line{
      margin-bottom: 100px;
    }

  }
  .section7{
    h2{
      font-size: 40px;
    }
    h4{
      font-size: 17px;
    }
    #map{
      width: 90%;
      height: 400px;
    }
    .contact_wrap{
      margin-bottom: 100px;
    }
  }
  #inquiry {
    padding: 90px 60px 90px 60px;
  }

  footer{
    padding: 45px 56px 56px;
    .txt{
      padding: 0;
      .logo2 svg{
        width: 88px;
      }
    }
  }
}

@media all and (max-width:480px){
  h3 {
    font-size: 20px;
    padding: 10px;
  }
  .section2{
    .movetxt{margin-bottom: 50px}
    .infinite{
      .infin_logo{ height: 30px; }
    }
  }
  .section3{
    .hire_cnt{
      .txt_wrap{
        padding: 70px 15px 30px;
        height: 320px;
        border-radius: 50px;
        strong{font-size: 40px}
      }
      .txt_right{
        font-size: 16px;
        line-height: 20px;
        height: 125px;
        margin-right: 0;
      }
      h4{
        padding-top: 40px;
        font-size: 18px;
      }
    }
  }
  .section4{
    .parallax_txt p{
      margin-bottom: 11px;
    }
  }
  .section5{
    padding-top: 100px;
  }
  .section6{
    .top_line,.bottom_line{height: 60px;}
    .movetxt{
      & h2.on {
        font-size: 35px;
        transition: 1s;
      }
    }

    ul li{
      width: 50%;
    }
  }

  .section7{
    #map{
      height: 376px;
    }
  }

  #inquiry {
    padding: 70px 30px 50px 30px;

    h2{
      font-size: 28px;
      text-align: left;
      word-break: break-all;
    }
    h2 + p{
      font-size: 12px;
      line-height: 17px;
      text-align: left;
      word-break: break-all;
      margin-bottom: 25px;
    }
    .inquiry_table{
      width: 280px;
      height: 100px;
      font-size: 15px;
    }
  }
}